%head
  %link{ rel: 'stylesheet', href: '/css/am.css', type: 'text/css' }
  %meta{ name: 'author', content: 'pguillory@gmail.com' }

%body
  %script{ src: '/js/jquery.js' }
  %script{ src: '/js/backfill.js' }
  %script{ src: '/js/Game.js' }
